@inject NavigationManager _nav
@inject IThemeHandler _themeHandler
@implements IDisposable

@*MudDrawer Breakpoint="Breakpoint.Md"
           Class="side-menu"
           Elevation="0"
           MiniWidth="100px"
           OpenMiniOnHover="true"
           Variant="DrawerVariant.Mini"
           Width="280px"
           DisableOverlay="true"
           OpenChanged="@(e => {
                            if (Minimize) return;
                            SideMenuDrawerOpenChanged.InvokeAsync(e);
                        })"
           Open="SideMenuDrawerOpen">*@

<MudDrawer Breakpoint="Breakpoint.Md"
           Class="side-menu"
           Elevation="0"
           MiniWidth="100px"
           OpenMiniOnHover="_themeHandler.SideOpenMini"
           Variant="DrawerVariant.Mini"
           Width="280px" OpenChanged="@(value => {if (_themeHandler.SideOpenMini) { _themeHandler.SideOpen = value; } })"
           DisableOverlay="true"
           Open="_themeHandler.SideOpen">
    <MudDrawerHeader Class="align-center d-flex justify-center pa-0">
        <MudIcon Color="Color.Primary"
                 Icon="@Icons.Filled.Home"
                 Size="Size.Large"
                 @onclick="@(() => _nav.NavigateTo(""))"
                 role="button"/>
    </MudDrawerHeader>
    <MudNavMenu>
        @foreach (var navItem in _menuSectionItems) {
            <MudNavLink Href="@(navItem.Href)" Icon="@(navItem.Icon)" Match="NavLinkMatch.All" Class="icon-hover">
                <div class="d-flex">
                    <MudText Inline="true">@navItem.Title</MudText>
                </div>
            </MudNavLink>
        }
    </MudNavMenu>
</MudDrawer>

<style>
    .icon-hover:hover .mud-icon-root {
         fill:  var(--mud-palette-secondary);
    }
    .mud-nav-link {
        white-space: normal !important;
        padding: 12px 16px 12px 38px;
    }
    .mud-nav-link:hover {
        color: var(--mud-palette-secondary);
        background-color: blue;
    }
    .mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) {
        background-color: rgba(var(--mud-palette-primary-rgb), 0.1);
        border-right: 3px solid var(--mud-palette-primary);
    }
    .side-menu {
        border-right: 1px solid rgba(var(--mud-palette-secondary-rgb), 0.4);
    }
</style>

@code {

    protected override void OnInitialized() {
        _themeHandler.ThemeChange += Invoker;
    }

    public void Dispose() {
        _themeHandler.ThemeChange -= Invoker;
    }

    private async void Invoker() {
        await InvokeAsync(StateHasChanged);
    }

    private List<MenuSectionItemModel> _menuSectionItems = new() {
        new MenuSectionItemModel {
            Title = "Dummy Link 1",
            Icon = Icons.Filled.WorkOutline,
            Href = "1"
        },
        new MenuSectionItemModel {
            Title = "Dummy Link 2",
            Icon = Icons.Rounded.FormatListBulleted,
            Href = "2"
        },
        new MenuSectionItemModel {
            Title = "Dummy Link 3",
            Icon = Icons.Filled.PeopleAlt,
            Href = "3"
        },
        new MenuSectionItemModel {
            Title = "Dummy Link 4",
            Icon = Icons.Filled.RequestPage,
            Href = "4"
        },
        new MenuSectionItemModel {
            Title = "Dummy Link 5",
            Icon = Icons.Filled.BugReport,
            Href = "5"
        }
    };

}